.centerpagewhite{
    position:absolute;
    width: 1400px;
    height: 1680px;
    background-color: white;
    top: 134px;
    left: 160px;
    text-align:justify;
    box-shadow:1px 1px  lightgrey;
    border-radius: 10px;
}

.headSection{
    padding-left: 232px;
    width: 900px;
}

.sloganheading{
    font-size: 45px;
    padding-top: 64px;
}

.slogandesc{
    color: black;
    font-weight: 300;
    font-size: 28px;
}

.inputlabel{
    font-size: 23px;
    font-weight: 350;
}

.sloganform{
    padding-top: 48px;
}

.sloganinput{
    width: 352px;
    height: 48px;
    margin-top: 15px;
    border-radius: 5px;
    border-color: lightgray;
    padding-left: 20px;
    font-size: 17px;
}

.generatesloganbtn{
    width: 204px;
    height: 50px;
    background: #146EB4;
    border-radius: 4px;
    margin-top: 48px;
    color: white;
    font-size: 18px;
}

.headHR{
    margin-top: 48px;
}

.centerpagehead-btn{
    display: flex;
    justify-content: space-between;
}

.centerpagehead{
    font-weight: 600;
    font-size: 25px;
}

.centerpagebtn{
    height: 36px;
    border-color: #146EB4;
    border-radius: 5px;
    color: #146EB4;
    width: 145px;
    background-color: white;
    margin-top: 16px;

}

.sloganrow1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.allcards{
    margin-top: 40px;
}